# Grading Report
# Github Account: smf-steve
# Assignment: "02-first-assignment"
# Assignment ID: "02"
# --- Due Date:        "Jan 27 23:59:59"
# --- Submission Date: "Jan 27 20:31:52"
# --- Tag & Hash:      "submission (515b47c)"

  50 Points:            Submission (50 points): 
   0 Points:            Minimal Number of Commits (10 points): only 2 commits?
  10 Points:            Name (10 points): 
  10 Points:            GitHub Account (10 points): 
  10 Points:            Answering questions (20 points): you removed all of the response tags -- yielding no answers
---
 80 Points:             Total

ASSIGNMENT_02_total="80"
